<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Sundial Time API</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/api.js"></script>
</head>

<body>
	<div id="main">
		<h1>Sundial Time API</h1>
		<h3>Methods</h3>
		<h4>Version</h4>
		<p>Get the current version.</p>
		<code>
			GET /api/version
		</code>
		<h4>GetTime</h4>
		<p>Get date/time in sundial time.</p>
		<code>
			GET /api/gettime
		</code>
		<h5>Parameters</h5>
		<p>lat: Latitude</p>
		<p>long: Longnitude</p>
		<p>(optional) date: Date to convert (in milliseconds since epoch). Will use current time if not specified.</p>
	</div>
</body>

</html>